<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item,i) in comments">
                {{item.comment}}-------------{{item.uploader}}
            </li>
        </ul>
        <temp1 @func1="commentsInit"></temp1>
    </div>
    <template id="temp1">
        <div>
            <span>评论人</span>
            <input v-model="uploader" type="text" placeholder="请输入评论人"/></br>
            <span>评论内容</span>
            <input v-model="comment" type="text" placeholder="请输入评论内容"/></br>
            <input @click="submit" type="button" value="提交"/>
        </div>
    </template>
    <script>
        var temp1 = {
            template : "#temp1",
            data:function(){
                return{
                    uploader : "",
                    comment : ""
                }
            },
            methods: {
                submit(){
                    console.log(this.uploader+"+++"+this.comment);
                    var list = JSON.parse(localStorage.getItem("comments")||'[]');
                    list.unshift({"uploader":this.uploader,"comment":this.comment});
                    localStorage.setItem("comments",JSON.stringify(list));
                    this.$emit('func1');
                }
            },
        }
        var vm=new Vue({
           el:'#app',
           data:{
               comments : ""
           },
           created() {
               this.commentsInit();
           },
           methods:{
               commentsInit(){
                   this.comments=JSON.parse(localStorage.getItem("comments")||'[]')  ;
                   console.log(this.comments.length);
               }
           },
           components:{
                temp1
           }
        });
    </script>
</body>

</html>